#wrap{

  

}

#link{
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#button li{
    display: inline;
    text-decoration: none;
    float: right;
    
}
li a {
    display: block;
    color: none;
    padding: 10px 10px;
}
#wrapper{
    margin: 0 auto;
    width: 580px;
    /*padding: 150px 450px;*/
    line-height: normal;
    text-align: center;
    height: 315px;
    
}
button{
    padding: 5px;
    border-radius: 2px;
    color: #212121;
    font-size: 11px;
    
}
input{
    width: 556px;
    padding: 10px;
    margin: 25px 0 18px;
    border: solid 1px #ccc;
    font-size: 10px;
}
#wrapper p {
    align-content: center;
}
#foot{
    height: 5%;
    background-color: #ccc;
    border-color: beige;
        
}
#third{
    background-color: #ccc;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
    border-color: #fff;
    
}
#last ul li{
    display: inline;
    text-decoration: none;
    text-align: center;
   
}
#last li a {
    display: inline;
    padding: 10px 10px;
    text-decoration: none;
}
#second li{
    float: right;
    border: solid 1px #ccc;
    background-color: #ccc; 
    padding-bottom: 15px;
}
